<h1>No olvidar cambiar la fecha de lectura del csv mas reciente</h1>

In [1]:
import pandas as pd

In [2]:
def createIndex(x):
    key = str(x['Date(UTC)'].year),str(x['Date(UTC)'].day),x['Fee Coin'],str(x['Amount'])
    return key

In [3]:
#Amount = cantidad crypto que obtuve
#total = dinero invertido
#Sell_Porcent = porcent of position selled
#price = precio al que compre
#rest valua es el amount de crypto que queda luego de haber vendido un determinado porcentaje de esa posicion 

#df DEBE SER EL OUTPUT 
#df = pd.read_csv("../BinanceDataSet/Exportar historial de operaciones-2022-06-07.csv")
df = pd.read_csv("../Output/CLEAN_data_01-20-2023.csv")
df['Date(UTC)'] = pd.to_datetime(df['Date(UTC)']) 
df['key'] = df.apply(createIndex,axis=1)
df['rest_value'] = df['Amount'] - df['Amount'] * (df['sell_Porcent']/100) 


# #EL RDF DEBE SER DESDE LA FECHA DEL ULTIMO REPORTE HASTA EL DIA anterior 

rdf = pd.read_csv("../BinanceDataSet/Exportar historial de operaciones-2023-01-25 05_19_41.csv")

rdf['Date(UTC)'] = pd.to_datetime(rdf['Date(UTC)'])
rdf['sell_Porcent'] = 0
rdf['is_Open'] = True
rdf['key'] = rdf.apply(createIndex,axis=1)
rdf['rest_value'] = rdf['Amount'] - rdf['Amount'] * (rdf['sell_Porcent']/100) 
df.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,2022-05-16 02:42:00,LUNABUSD,BUY,0.00026,38389.18,9.999997,38.38918,LUNA,0,True,"(2022, 16, LUNA, 38389.18)",38389.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-13 01:34:00,VETBUSD,BUY,0.02487,410.10,10.199187,0.41010,VET,0,True,"(2022, 13, VET, 410.1)",410.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-12 01:56:00,ROSEUSDT,BUY,0.04687,215.40,10.095798,0.21540,ROSE,0,True,"(2022, 12, ROSE, 215.4)",215.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-12 02:47:00,ROSEUSDT,BUY,0.05515,185.20,10.213780,0.18520,ROSE,0,True,"(2022, 12, ROSE, 185.2)",185.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-05-30 06:02:00,ROSEUSDT,BUY,0.07110,154.70,10.999170,0.15470,ROSE,0,True,"(2022, 30, ROSE, 154.7)",154.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rdf.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value
0,2023-01-25 00:22:51,ADABUSD,BUY,0.351,28.70000,10.073700,0.000000,BNB,0,True,"(2023, 25, BNB, 28.7)",28.70000
1,2023-01-25 00:11:46,BTCBUSD,BUY,22625.970,0.00045,10.181686,0.000000,BNB,0,True,"(2023, 25, BNB, 0.00045)",0.00045
2,2023-01-25 00:10:06,ETHBUSD,BUY,1552.670,0.00650,10.092355,0.000006,ETH,0,True,"(2023, 25, ETH, 0.0065)",0.00650
3,2023-01-24 23:21:07,DOTBUSD,BUY,6.120,1.65000,10.098000,0.000000,BNB,0,True,"(2023, 24, BNB, 1.65)",1.65000
4,2023-01-24 22:56:11,ADABUSD,BUY,0.361,27.90000,10.071900,0.000000,BNB,0,True,"(2023, 24, BNB, 27.9)",27.90000

In [5]:
rdf

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value
0,2023-01-25 00:22:51,ADABUSD,BUY,0.3510,28.70000,10.073700,0.000000,BNB,0,True,"(2023, 25, BNB, 28.7)",28.70000
1,2023-01-25 00:11:46,BTCBUSD,BUY,22625.9700,0.00045,10.181686,0.000000,BNB,0,True,"(2023, 25, BNB, 0.00045)",0.00045
2,2023-01-25 00:10:06,ETHBUSD,BUY,1552.6700,0.00650,10.092355,0.000006,ETH,0,True,"(2023, 25, ETH, 0.0065)",0.00650
3,2023-01-24 23:21:07,DOTBUSD,BUY,6.1200,1.65000,10.098000,0.000000,BNB,0,True,"(2023, 24, BNB, 1.65)",1.65000
4,2023-01-24 22:56:11,ADABUSD,BUY,0.3610,27.90000,10.071900,0.000000,BNB,0,True,"(2023, 24, BNB, 27.9)",27.90000
5,2023-01-24 22:26:54,ADABUSD,BUY,0.3680,27.40000,10.083200,0.000000,BNB,0,True,"(2023, 24, BNB, 27.4)",27.40000
6,2023-01-24 22:15:29,BTCBUSD,BUY,22870.0000,0.00044,10.062800,0.000000,BNB,0,True,"(2023, 24, BNB, 0.00044)",0.00044
7,2023-01-24 22:15:16,DOTBUSD,BUY,6.3780,1.58000,10.077240,0.000000,BNB,0,True,"(2023, 24, BNB, 1.58)",1.58000
8,2023-01-24 21:54:03,ETHBUSD,BUY,1593.0000,0.00630,10.035900,0.000000,BNB,0,True,"(2023, 24, BNB, 0.0063)",0.00630
9,2023-01-24 09:41:04,DOTBUSD,BUY,6.5600,1.53000,10.036800,0.001530,DOT,0,True,"(2023, 24, DOT, 1.53)",1.53000
10,2023-01-22 11:38:58,PAXGUSDT,BUY,1903.0000,0.00530,10.085900,0.000005,PAXG,0,True,"(2023, 22, PAXG, 0.0053)",0.00530
11,2023-01-22 07:23:15,DOTBUSD,BUY,6.2680,1.61000,10.091480,0.000000,BNB,0,True,"(2023, 22, BNB, 1.61)",1.61000
12,2023-01-21 20:35:18,DOTBUSD,SELL,6.3540,2.19000,13.915260,0.013915,BUSD,0,True,"(2023, 21, BUSD, 2.19)",2.19000
13,2023-01-21 20:31:01,ADABUSD,BUY,0.3738,27.00000,10.092600,0.000000,BNB,0,True,"(2023, 21, BNB, 27.0)",27.00000
14,2023-01-20 22:07:00,DOTBUSD,SELL,6.1840,3.87000,23.932080,0.023932,BUSD,0,True,"(2023, 20, BUSD, 3.87)",3.87000
15,2023-01-20 20:46:37,PAXGUSDT,BUY,1912.0000,0.00530,10.133600,0.000005,PAXG,0,True,"(2023, 20, PAXG, 0.0053)",0.00530

In [6]:
df = pd.concat([df,rdf])
df = df.reset_index(drop=True)
df.drop_duplicates(subset=['key'],keep='first',inplace =True)
df = df.loc[df['is_Open']==True]
df

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,2022-05-16 02:42:00,LUNABUSD,BUY,0.00026,38389.1800,9.999997,38.389180,LUNA,0,True,"(2022, 16, LUNA, 38389.18)",38389.1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-13 01:34:00,VETBUSD,BUY,0.02487,410.1000,10.199187,0.410100,VET,0,True,"(2022, 13, VET, 410.1)",410.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-12 01:56:00,ROSEUSDT,BUY,0.04687,215.4000,10.095798,0.215400,ROSE,0,True,"(2022, 12, ROSE, 215.4)",215.4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-12 02:47:00,ROSEUSDT,BUY,0.05515,185.2000,10.213780,0.185200,ROSE,0,True,"(2022, 12, ROSE, 185.2)",185.2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-05-30 06:02:00,ROSEUSDT,BUY,0.07110,154.7000,10.999170,0.154700,ROSE,0,True,"(2022, 30, ROSE, 154.7)",154.7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2023-01-24 09:41:04,DOTBUSD,BUY,6.56000,1.5300,10.036800,0.001530,DOT,0,True,"(2023, 24, DOT, 1.53)",1.5300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,2023-01-22 11:38:58,PAXGUSDT,BUY,1903.00000,0.0053,10.085900,0.000005,PAXG,0,True,"(2023, 22, PAXG, 0.0053)",0.0053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,2023-01-22 07:23:15,DOTBUSD,BUY,6.26800,1.6100,10.091480,0.000000,BNB,0,True,"(2023, 22, BNB, 1.61)",1.6100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,2023-01-21 20:35:18,DOTBUSD,SELL,6.35400,2.1900,13.915260,0.013915,BUSD,0,True,"(2023, 21, BUSD, 2.19)",2.1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2023-01-21 20:31:01,ADABUSD,BUY,0.37380,27.0000,10.092600,0.000000,BNB,0,True,"(2023, 21, BNB, 27.0)",27.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,2022-05-16 02:42:00,LUNABUSD,BUY,0.00026,38389.18,9.999997,38.38918,LUNA,0,True,"(2022, 16, LUNA, 38389.18)",38389.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-13 01:34:00,VETBUSD,BUY,0.02487,410.10,10.199187,0.41010,VET,0,True,"(2022, 13, VET, 410.1)",410.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-12 01:56:00,ROSEUSDT,BUY,0.04687,215.40,10.095798,0.21540,ROSE,0,True,"(2022, 12, ROSE, 215.4)",215.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-12 02:47:00,ROSEUSDT,BUY,0.05515,185.20,10.213780,0.18520,ROSE,0,True,"(2022, 12, ROSE, 185.2)",185.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-05-30 06:02:00,ROSEUSDT,BUY,0.07110,154.70,10.999170,0.15470,ROSE,0,True,"(2022, 30, ROSE, 154.7)",154.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.loc[df['Market']=='ADABUSD']

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
11,2022-12-16 23:56:00,ADABUSD,BUY,0.2638,40.4,10.65752,0.040400,ADA,60,True,"(2022, 16, ADA, 40.4)",16.16,NaN,33.62,NaN,NaN,NaN,NaN,NaN
24,2022-12-08 19:02:00,ADABUSD,SELL,0.3149,32.5,10.23425,0.010234,BUSD,0,True,"(2022, 8, BUSD, 32.5)",32.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2022-11-12 09:10:00,ADABUSD,SELL,0.3425,49.2,16.85100,0.000045,BNB,0,True,"(2022, 12, BNB, 49.2)",49.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2023-01-18 15:54:00,ADABUSD,BUY,0.3388,29.9,10.13012,0.000000,BNB,0,True,"(2023, 18, BNB, 29.9)",29.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,2023-01-13 21:47:00,ADABUSD,SELL,0.3450,33.6,11.59200,0.011592,BUSD,0,True,"(2023, 13, BUSD, 33.6)",33.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,2023-01-10 04:01:00,ADABUSD,SELL,0.3141,194.4,61.06104,0.061061,BUSD,0,True,"(2023, 10, BUSD, 194.4)",194.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,2022-12-20 16:12:00,ADABUSD,SELL,0.2595,39.9,10.35405,0.000031,BNB,0,True,"(2022, 20, BNB, 39.9)",39.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,2023-01-25 00:22:51,ADABUSD,BUY,0.3510,28.7,10.07370,0.000000,BNB,0,True,"(2023, 25, BNB, 28.7)",28.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,2023-01-24 22:56:11,ADABUSD,BUY,0.3610,27.9,10.07190,0.000000,BNB,0,True,"(2023, 24, BNB, 27.9)",27.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,2023-01-24 22:26:54,ADABUSD,BUY,0.3680,27.4,10.08320,0.000000,BNB,0,True,"(2023, 24, BNB, 27.4)",27.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2023-01-21 20:31:01,ADABUSD,BUY,0.3738,27.0,10.09260,0.000000,BNB,0,True,"(2023, 21, BNB, 27.0)",27.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dfg = df.groupby('Fee Coin').sum()
dfg
#df['Fee Coin'] == 'BNB'

,Price,Amount,Total,Fee,sell_Porcent,is_Open,rest_value,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
Fee Coin,,,,,,,,,,,,
ADA,13.78490,741.40000,328.632970,0.741400,1380,30,384.065000,33.62,0.01412,0.000000,0.0,0.0
BNB,488734.69787,514.56446,884.655307,0.000973,990,73,489.966895,0.00,0.03900,0.000801,0.0,0.0
BTC,112626.30000,0.00143,40.249505,0.000001,200,4,0.000715,0.00,0.00000,0.000000,0.0,0.0
BUSD,1278.54200,273.35410,219.776068,0.219776,0,10,273.354100,0.00,0.00000,0.000000,0.0,0.0
DOT,287.33700,55.22000,394.562560,0.055220,1370,39,35.195500,0.00,3.87800,0.000000,0.0,0.0
ETH,42178.35000,0.15430,256.383707,0.000154,1090,25,0.083310,0.00,0.00000,0.000000,0.0,0.0
LUNA,0.00026,38389.18000,9.999997,38.389180,0,1,38389.180000,0.00,0.00000,0.000000,0.0,0.0
PAXG,7562.00000,0.02180,41.208100,0.000022,0,4,0.021800,0.00,0.00000,0.000000,0.0,0.0
ROSE,0.52869,1024.10000,72.588043,1.024100,0,7,1024.100000,0.00,0.00000,0.000000,0.0,0.0
USDT,27941.93693,917.47780,1145.348944,1.145349,0,53,917.477800,0.00,0.00000,0.000000,0.0,0.0
VET,0.02487,410.10000,10.199187,0.410100,0,1,410.100000,0.00,0.00000,0.000000,0.0,0.0

In [10]:
adaDf = df.loc[(df['Market']=='ADAUSDT') | (df['Market']=='ADABUSD')]
btcDf = df.loc[(df['Market']=='BTCUSDT') | (df['Market']=='BTCBUSD')]
ethDf = df.loc[(df['Market']=='ETHUSDT') | (df['Market']=='ETHBUSD')]
dotDf = df.loc[(df['Market']=='DOTUSDT') | (df['Market']=='DOTBUSD')]
solDf = df.loc[(df['Market']=='SOLUSDT') | (df['Market']=='SOLBUSD')]
roseDf = df.loc[(df['Market']=='ROSEUSDT') | (df['Market']=='ROSEBUSD')]
bnbDf = df.loc[(df['Market']=='BNBUSDT') | (df['Market']=='BNBBUSD')]



adaDf

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
11,2022-12-16 23:56:00,ADABUSD,BUY,0.2638,40.4,10.65752,0.040400,ADA,60,True,"(2022, 16, ADA, 40.4)",16.160,NaN,33.62,NaN,NaN,NaN,NaN,NaN
12,2022-12-16 22:34:00,ADAUSDT,BUY,0.2800,36.0,10.08000,0.036000,ADA,70,True,"(2022, 16, ADA, 36.0)",10.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2022-12-16 11:32:00,ADAUSDT,BUY,0.2863,35.2,10.07776,0.035200,ADA,90,True,"(2022, 16, ADA, 35.2)",3.520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2022-12-08 19:02:00,ADABUSD,SELL,0.3149,32.5,10.23425,0.010234,BUSD,0,True,"(2022, 8, BUSD, 32.5)",32.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2022-11-12 09:10:00,ADABUSD,SELL,0.3425,49.2,16.85100,0.000045,BNB,0,True,"(2022, 12, BNB, 49.2)",49.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2023-01-18 15:54:00,ADABUSD,BUY,0.3388,29.9,10.13012,0.000000,BNB,0,True,"(2023, 18, BNB, 29.9)",29.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2022-11-09 09:55:00,ADAUSDT,BUY,0.3487,28.9,10.07743,0.028900,ADA,0,True,"(2022, 9, ADA, 28.9)",28.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2022-11-08 18:21:00,ADAUSDT,BUY,0.3692,27.3,10.07916,0.027300,ADA,0,True,"(2022, 8, ADA, 27.3)",27.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2022-10-12 22:27:00,ADAUSDT,BUY,0.3810,31.4,11.96340,0.031400,ADA,90,True,"(2022, 12, ADA, 31.4)",3.140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2022-10-11 05:55:00,ADAUSDT,BUY,0.3962,25.4,10.06348,0.000028,BNB,90,True,"(2022, 11, BNB, 25.4)",2.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2022-10-25 19:25:00,ADAUSDT,SELL,0.4122,45.4,18.71388,0.018714,USDT,0,True,"(2022, 25, USDT, 45.4)",45.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2022-11-07 03:17:00,ADAUSDT,BUY,0.4070,24.8,10.09360,0.000022,BNB,0,True,"(2022, 7, BNB, 24.8)",24.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2022-10-29 16:59:00,ADAUSDT,SELL,0.4295,52.6,22.59170,0.022592,USDT,0,True,"(2022, 29, USDT, 52.6)",52.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2022-10-29 16:59:00,ADAUSDT,SELL,0.4295,46.3,19.88585,0.019886,USDT,0,True,"(2022, 29, USDT, 46.3)",46.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2022-10-02 23:34:00,ADAUSDT,BUY,0.4180,31.6,13.20880,0.031600,ADA,90,True,"(2022, 2, ADA, 31.6)",3.160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2022-07-13 08:40:00,ADAUSDT,BUY,0.4304,23.6,10.15744,0.023600,ADA,100,True,"(2022, 13, ADA, 23.6)",0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2022-07-12 07:04:00,ADAUSDT,BUY,0.4335,27.7,12.00795,0.027700,ADA,100,True,"(2022, 12, ADA, 27.7)",0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2022-11-05 15:37:00,ADAUSDT,SELL,0.4340,43.0,18.66200,0.018662,USDT,0,True,"(2022, 5, USDT, 43.0)",43.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2022-11-05 15:37:00,ADAUSDT,SELL,0.4340,6.8,2.95120,0.000006,BNB,0,True,"(2022, 5, BNB, 6.8)",6.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2022-09-28 20:55:00,ADAUSDT,SELL,0.4400,28.8,12.67200,0.012672,USDT,0,True,"(2022, 28, USDT, 28.8)",28.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2022-09-28 01:29:00,ADAUSDT,BUY,0.4335,23.2,10.05720,0.023200,ADA,70,True,"(2022, 28, ADA, 23.2)",6.960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2022-07-11 21:49:00,ADAUSDT,BUY,0.4409,23.1,10.18479,0.023100,ADA,60,True,"(2022, 11, ADA, 23.1)",9.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2022-09-26 03:44:00,ADAUSDT,BUY,0.4430,22.7,10.05610,0.022700,ADA,0,True,"(2022, 26, ADA, 22.7)",22.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2022-08-26 17:19:00,ADAUSDT,BUY,0.4450,27.7,12.32650,0.027700,ADA,40,True,"(2022, 26, ADA, 27.7)",16.620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2022-07-16 18:45:00,ADAUSDT,SELL,0.4510,25.6,11.54560,0.011546,USDT,0,True,"(2022, 16, USDT, 25.6)",25.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2022-08-30 20:49:00,ADAUSDT,SELL,0.4548,22.6,10.27848,0.010278,USDT,0,True,"(2022, 30, USDT, 22.6)",22.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2022-07-05 15:11:00,ADAUSDT,BUY,0.4451,24.7,10.99397,0.024700,ADA,85,True,"(2022, 5, ADA, 24.7)",3.705,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2022-09-15 06:11:00,ADAUSDT,BUY,0.4662,21.6,10.06992,0.000028,BNB,0,True,"(2022, 15, BNB, 21.6)",21.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2022-08-19 06:44:00,ADAUSDT,BUY,0.4695,21.5,10.09425,0.021500,ADA,60,True,"(2022, 19, ADA, 21.5)",8.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2022-09-03 21:05:00,ADAUSDT,SELL,0.4817,50.7,24.42219,0.024422,USDT,0,True,"(2022, 3, USDT, 50.7)",50.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2022-07-25 23:49:00,ADAUSDT,BUY,0.4770,21.1,10.06470,0.021100,ADA,80,True,"(2022, 25, ADA, 21.1)",4.220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2022-07-18 14:57:00,ADAUSDT,SELL,0.4900,45.2,22.14800,0.022148,USDT,0,True,"(2022, 18, USDT, 45.2)",45.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2022-08-19 06:31:00,ADAUSDT,BUY,0.4891,20.6,10.07546,0.020600,ADA,10,True,"(2022, 19, ADA, 20.6)",18.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022-08-02 03:43:00,ADAUSDT,BUY,0.4902,20.6,10.09812,0.020600,ADA,50,True,"(2022, 2, ADA, 20.6)",10.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,2022-08-19 01:08:00,ADAUSDT,BUY,0.4997,20.1,10.04397,0.020100,ADA,70,True,"(2022, 19, ADA, 20.1)",6.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,2022-08-18 23:22:00,ADAUSDT,BUY,0.5100,19.8,10.09800,0.019800,ADA,60,True,"(2022, 18, ADA, 19.8)",7.920,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2022-08-10 00:34:00,ADAUSDT,BUY,0.5104,19.7,10.05488,0.019700,ADA,60,True,"(2022, 10, ADA, 19.7)",7.880,NaN,NaN,0.01412,NaN,NaN,NaN,NaN
126,2022-07-31 23:09:00,ADAUSDT,BUY,0.5132,19.8,10.16136,0.019800,ADA,75,True,"(2022, 31, ADA, 19.8)",4.950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,2022-08-18 18:46:00,ADAUSDT,BUY,0.5260,19.2,10.09920,0.019200,ADA,0,True,"(2022, 18, ADA, 19.2)",19.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,2022-08-11 08:05:00,ADAUSDT,BUY,0.5350,18.8,10.05800,0.018800,ADA,60,True,"(2022, 11, ADA, 18.8)",7.520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,2022-08-17 13:40:00,ADAUSDT,BUY,0.5355,18.8,10.06740,0.018800,ADA,0,True,"(2022, 17, ADA, 18.8)",18.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2022-08-11 01:06:00,ADAUSDT,BUY,0.5458,46.7,25.48886,0.046700,ADA,0,True,"(2022, 11, ADA, 46.7)",46.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,2022-08-15 07:39:00,ADAUSDT,BUY,0.5500,18.3,10.06500,0.018300,ADA,0,True,"(2022, 15, ADA, 18.3)",18.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2022-08-15 06:18:00,ADAUSDT,BUY,0.5611,18.0,10.09980,0.018000,ADA,0,True,"(2022, 15, ADA, 18.0)",18.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2022-08-15 05:24:00,ADAUSDT,BUY,0.5725,17.6,10.07600,0.017600,ADA,0,True,"(2022, 15, ADA, 17.6)",17.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,2022-09-10 13:38:00,ADAUSDT,SELL,0.5156,27.9,14.38524,0.000037,BNB,0,True,"(2022, 10, BNB, 27.9)",27.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,2022-07-19 20:16:00,ADAUSDT,SELL,0.5200,40.2,20.90400,0.020904,USDT,0,True,"(2022, 19, USDT, 40.2)",40.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,2022-08-07 20:34:00,ADAUSDT,SELL,0.5253,40.4,21.22212,0.021222,USDT,0,True,"(2022, 7, USDT, 40.4)",40.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,2022-08-11 01:15:00,ADAUSDT,SELL,0.5446,46.7,25.43282,0.025433,USDT,0,True,"(2022, 11, USDT, 46.7)",46.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2022-08-11 07:32:00,ADAUSDT,SELL,0.5470,18.7,10.22890,0.010229,USDT,0,True,"(2022, 11, USDT, 18.7)",18.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,2022-08-14 04:01:00,ADAUSDT,SELL,0.5907,33.2,19.61124,0.019611,USDT,0,True,"(2022, 14, USDT, 33.2)",33.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,2022-08-14 11:38:00,ADAUSDT,BUY,0.5815,17.3,10.05995,0.017300,ADA,0,True,"(2022, 14, ADA, 17.3)",17.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,2023-01-13 21:47:00,ADABUSD,SELL,0.3450,33.6,11.59200,0.011592,BUSD,0,True,"(2023, 13, BUSD, 33.6)",33.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,2023-01-10 04:01:00,ADABUSD,SELL,0.3141,194.4,61.06104,0.061061,BUSD,0,True,"(2023, 10, BUSD, 194.4)",194.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,2022-12-20 16:12:00,ADABUSD,SELL,0.2595,39.9,10.35405,0.000031,BNB,0,True,"(2022, 20, BNB, 39.9)",39.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,2023-01-25 00:22:51,ADABUSD,BUY,0.3510,28.7,10.07370,0.000000,BNB,0,True,"(2023, 25, BNB, 28.7)",28.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,2023-01-24 22:56:11,ADABUSD,BUY,0.3610,27.9,10.07190,0.000000,BNB,0,True,"(2023, 24, BNB, 27.9)",27.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,2023-01-24 22:26:54,ADABUSD,BUY,0.3680,27.4,10.08320,0.000000,BNB,0,True,"(2023, 24, BNB, 27.4)",27.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2023-01-21 20:31:01,ADABUSD,BUY,0.3738,27.0,10.09260,0.000000,BNB,0,True,"(2023, 21, BNB, 27.0)",27.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
adaDf = adaDf.loc[adaDf['Type']== 'BUY']
btcDf = btcDf.loc[btcDf['Type']== 'BUY']
ethDf = ethDf.loc[ethDf['Type']== 'BUY']
dotDf = dotDf.loc[dotDf['Type']== 'BUY']
solDf = solDf.loc[solDf['Type']== 'BUY']
roseDf = roseDf.loc[roseDf['Type']== 'BUY']
bnbDf = bnbDf.loc[bnbDf['Type']== 'BUY']

In [12]:
#Order de mayor a menor 
adaDf = adaDf.sort_values(by='Price')
ethDf = ethDf.sort_values(by='Price')
btcDf = btcDf.sort_values(by='Price')
dotDf = dotDf.sort_values(by='Price')
solDf = solDf.sort_values(by='Price')
roseDf = roseDf.sort_values(by='Price')
bnbDf = bnbDf.sort_values(by='Price')

In [13]:
#New Index
btcDf = btcDf.reset_index(drop=True)
dotDf = dotDf.reset_index(drop=True)
adaDf = adaDf.reset_index(drop=True)
ethDf = ethDf.reset_index(drop=True)
solDf = solDf.reset_index(drop=True)
roseDf = roseDf.reset_index(drop=True)
bnbDf = bnbDf.reset_index(drop=True)

btcDf

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,2022-11-09 22:06:00,BTCUSDT,BUY,15650.00,0.00064,10.016000,0.000000e+00,BNB,90,True,"(2022, 9, BNB, 0.00064)",0.000064,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-12-16 23:11:00,BTCBUSD,BUY,16600.00,0.00061,10.126000,0.000000e+00,BNB,90,True,"(2022, 16, BNB, 0.00061)",0.000061,NaN,NaN,NaN,0.000801,NaN,NaN,NaN
2,2022-11-02 22:53:00,BTCUSDT,BUY,20060.00,0.00050,10.030000,0.000000e+00,BNB,50,True,"(2022, 2, BNB, 0.0005)",0.000250,perdida,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-19 06:42:00,BTCUSDT,BUY,21920.00,0.00046,10.083200,0.000000e+00,BNB,50,True,"(2022, 19, BNB, 0.00046)",0.000230,perdida,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-25 00:11:46,BTCBUSD,BUY,22625.97,0.00045,10.181686,0.000000e+00,BNB,0,True,"(2023, 25, BNB, 0.00045)",0.000450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-01-24 22:15:29,BTCBUSD,BUY,22870.00,0.00044,10.062800,0.000000e+00,BNB,0,True,"(2023, 24, BNB, 0.00044)",0.000440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-08-09 14:06:00,BTCUSDT,BUY,23000.00,0.00044,10.120000,0.000000e+00,BNB,50,True,"(2022, 9, BNB, 0.00044)",0.000220,perdida,NaN,NaN,NaN,NaN,NaN,NaN
7,2022-06-12 22:00:00,BTCUSDT,BUY,27328.00,0.00037,10.111360,3.700000e-07,BTC,50,True,"(2022, 12, BTC, 0.00037)",0.000185,perdida,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-06-12 01:50:00,BTCUSDT,BUY,28355.37,0.00035,9.924380,3.500000e-07,BTC,50,True,"(2022, 12, BTC, 0.00035)",0.000175,perdida,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-06-12 01:10:00,BTCUSDT,BUY,28374.00,0.00036,10.214640,3.600000e-07,BTC,50,True,"(2022, 12, BTC, 0.00036)",0.000180,perdida,NaN,NaN,NaN,NaN,NaN,NaN
10,2022-06-11 18:35:00,BTCUSDT,BUY,28568.93,0.00035,9.999125,3.500000e-07,BTC,50,True,"(2022, 11, BTC, 0.00035)",0.000175,perdida,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.to_csv('../Output/CLEAN_data_01-25-2023.csv',index=False)
# adaDf.to_csv('../Output/ADA_clean_data_12-20-2022.csv')
# btcDf.to_csv('../Output/BTC_clean_data_12-20-2022.csv')
# ethDf.to_csv('../Output/ETH_clean_data_12-20-2022.csv')
# dotDf.to_csv('../Output/Dot_clean_data_12-20-2022.csv')
# solDf.to_csv('../Output/Sol_clean_data_12-20-2022.csv')
# roseDf.to_csv('../Output/Rose_clean_data_12-20-2022.csv')
# bnbDf.to_csv('../Output/BNB_clean_data_12-20-2022.csv')